/*-- scss:defaults --*/
// $white:    #fff;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #868e96;
// $gray-700: #495057;
// $gray-800: #373a3c;
// $gray-900: #212529;
// $black:    #04273C;
// $blue:     #88C4F4;
// $red:      #FF6663;
// $green:    #50B161;

// $primary:       $blue;
// $secondary:     $black;
// $success:       $green;
// // $info:          $cyan;
// // $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;

$body-bg: #f3f9fe;
$body-color: #04273C;
$link-color: #755EA6;

/*-- scss:rules --*/
